%h1=t('.title')

%table{:style => 'width:100%'}
  %tr
    %th=t('.author')
    %th=t('.title')
    %th=t('.body')
    %th=t('.summary')
    %th{:colspan => '3'}=t('.actions')

  - @forked_ideas.each do |forked_idea|
    %tr
      %td= forked_idea.author.name
      %td= forked_idea.title.truncate(20)
      %td= forked_idea.body.truncate(30)
      %td= forked_idea.summary.truncate(30)
      %td
        = link_to t('.show'), idea_translated_idea_forked_idea_path(params[:idea_id], params[:translated_idea_id], forked_idea)
        = link_to t('.edit'), edit_idea_translated_idea_forked_idea_path(params[:idea_id], params[:translated_idea_id], forked_idea)
        = link_to t('.original_translation'), idea_translated_idea_path(params[:idea_id], params[:translated_idea_id])
        - if forked_idea.author_id == current_citizen.id && !forked_idea.pull_request_at
          = link_to t('.send_pull_request'), send_pull_request_idea_translated_idea_forked_idea_path(params[:idea_id], params[:translated_idea_id], forked_idea)

= link_to t('.pull_requests'), pull_requests_idea_translated_idea_forked_ideas_path(params[:idea_id], params[:translated_idea_id])
