<h2>Kirjaudu sisään</h2>
<% if flash.present? %>
	<div align="center">
		<div align="center" id="flash-message" >
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash" %>
			<% end %>
		</div>
	</div>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "grid_16"}) do |f| %>
    <div class="inputs grid_12">
      <div class="input">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="input">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="input checkbox pull-left">
            <%= f.check_box :remember_me, :id => 'remember-me' %>
            <%= f.label :remember_me, "Muista minut" %>
          </div>
      <% end -%>
	<div class='forget-password'>
		<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
		<%= link_to "Unohditko salasanasi?", new_password_path(resource_name) %>
		<% end -%>
	</div>
    </div>
    <div class="actions grid_16"><%= f.submit "Kirjaudu" %></div>
<% end %>

