<h2>Kirjaudu sisään</h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "grid_16"}) do |f| %>
    <div class="inputs grid_12">
      <div class="input">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>

      <div class="input">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="input checkbox">
            <%= f.check_box :remember_me %> <%= f.label :remember_me, "Muista minut" %>
          </div>
      <% end -%>
    </div>
    <div class="actions grid_16"><%= f.submit "Kirjaudu" %></div>
<% end %>