- unless @voted_ideas.empty?
  %h2 Ideat, joita olet äänestänyt
  
  %ul
    - @voted_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)

- unless @commented_ideas.empty?
  %h2 Ideat, joita olet kommentoinut
  
  %ul
    - @commented_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)

%h2 Vaihda salasanasi
= form_for(@citizen, :url => {:action => "update_password"}) do |f|
  .input
    = f.label :current_password
    = f.password_field :current_password
  
  .input
    = f.label :password
    = f.text_field :password, :autocomplete => "off"
  
  .input
    = f.label :password_confirmation
    = f.text_field :password_confirmation
  
  .action_container
    = f.submit "Vaihda salasana"