%h2= t('.voted_ideas')
- if @voted_ideas.empty?
  = t('.no_votes')
- else
  %ul
    - @voted_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)

%h2= t('.commented_ideas')
- if @commented_ideas.empty?
  = t('.no_comments')
- else
  %ul
    - @commented_ideas.each do |idea|
      %li= link_to idea.title, idea_path(idea)
