= simple_form_for @idea, :html => {:class => "form-horizontal"} do |f|
  = f.input :title, label: I18n.t("idea.new.title")
  .help-cont
    #title_help
      %p Anna ideallesi muutaman sanan otsikko. Otsikosta tulisi käydä ilmi yleinen aihealue.
  = f.input :summary, as: :text
  .help-cont
    #summary_help
      %p
        Anna idealle tiivistelmä. Siitä tulisi käydä ilmi ideasi perusajatus muutamalla lauseella.
        Voit muokata sitä myöhemmin.
  = f.input :body, as: :text
  .help-cont
    #body_help
      %p
        Anna halutessasi idealle tarkempi kuvaus. Se voi sisältää linkkejä muihin lähteisiin, 
        listauksia puolesta ja vastaan argumenteista ja kysymyksiä joihin toivot kommentoijilta ja 
        asiantuntijoilta palautetta. Aluksi sinun ei tarvite täyttää tätä kohtaa, pääset muokkaamaan tietoja myöhemmin.

  .actions.fl-right
    = f.submit @idea.new_record? ? I18n.t("buttons.create") : I18n.t("buttons.update"), { :class => "btn btn-small btn-primary" }

:javascript
  $(document).ready(function($) {
    
    connect_help = function(elem_name, help_name) {
      $(elem_name)
        .focus(function(){ $(help_name).parent().show() })
        .focusout(function(){ $(help_name).parent().hide() })
    }
    
    connect_help("#idea_title", "#title_help")
    connect_help("#idea_summary", "#summary_help")
    connect_help("#idea_body", "#body_help")
    
  //  $("#idea_title")
  //    .focus(function(){ $("#title_help").show() })
  //    .focusout(function(){ $("#title_help").hide() })
  
    //$("#title_help").hide()
    //$("#summary_help").hide()
    //$("#body_help").hide()
  
  })
  
