.add_idea
  = simple_form_for @idea do |f|
    #lda_response
      .response
      .tag_input_box
        = f.input :tag_list, label: 'Tags for current idea', :input_html => { :data => { load: @idea.tags } }
    #idea_form
      .grid_16
        = f.input :title, label: I18n.t("idea.new.title")
      .grid_16
        = f.input :summary, as: :text
      .grid_16
        = f.input :body, as: :text
      .grid_16
        = f.hidden_field :id, :value => @idea.id
      .grid_16
        = f.submit @idea.new_record? ? I18n.t("buttons.create") : I18n.t("buttons.update")