.signature
  - started   = idea.collecting_started || idea.collecting_start_date <= today_date
  - ended     = idea.collecting_ended   || idea.collecting_end_date    < today_date
  - on_going  = started and (not ended)

  - if ENV["ALLOW_SIGNING_MULTIPLE_TIMES"] && current_citizen
    - completed_signature = Signature.where(state: "signed", citizen_id: current_citizen.id, idea_id: idea.id).first
    - if completed_signature
      Olet jo jättänyt kannatusilmoituksen onnistuneesti. Et voi jättää sitä uudelleen, mutta nyt koska kyseessä on demo niin sallimme uusia ilmoituksia.
  
  - if on_going and idea.collecting_in_service
    .button
      - if current_citizen
        - completed_signature = Signature.where(state: "signed", citizen_id: current_citizen.id, idea_id: idea.id).first
        - if !completed_signature || ENV["ALLOW_SIGNING_MULTIPLE_TIMES"]
          - twenty_mins = (1.0/(24*(60/20)))
          - if session["authenticated_at"] and DateTime.now < session["authenticated_at"]
            - raise "#{DateTime.now} is smaller than found session['authenticated_at'] #{session['authenticated_at']}"
          - elsif shortcut_session_valid?
            = link_to "Jätä kannatusilmoitus ilman uutta tunnistautumista", signature_idea_service_selection_path(idea.id), class: "btn jaa-btn"
          - else
            = link_to "Jätä kannatusilmoitus", signature_idea_introduction_path(idea.id), class: "btn jaa-btn"
        - else
          Olet jo jättänyt kannatusilmoituksen onnistuneesti. Et voi jättää sitä uudelleen.
      - else
        = link_to "Sisäänkirjaudu jättääksesi kannatusilmoituksen", signature_idea_introduction_path(idea.id), class: "btn jaa-btn-disabled"

  - if ended
    Tämän aloitteen kannatusilmoitusten keräysaika on jo päättynyt, mutta käyttäjien tukea silti siltä varalta että aloite aktivoidaan uudelleen. Siinä tapauksessa lähetämme sinulle sähköpostin että voit jättää sen uudelleen.
    .button
      /= link_to "Allekirjoita kannatusilmoitus jälkikäteen", signature_idea_introduction_path(idea.id), class: "btn jaa-btn"
      /- # TODO: Add still supporting button

  .signature-statistics
    .stat-header Kannatusilmoitusten keruu
    .stat
      Keruu on 
      %b= (on_going ? "käynnissä" : (not started ? "alkamatta" : "päättynyt"))
    .stat
      = (started ? "Käynnistynyt" : "Käynnistymässä")
      = finnishDate(idea.collecting_start_date)
    .stat
      Keräys 
      = (ended ? "päättyi" : "päättyy")
      %b= finnishDate(idea.collecting_end_date)
    .stat
      Kerätty 
      - dates_collected = (today_date - idea.collecting_start_date + 1).to_i
      = dates_collected
      päivää
    .stat
      Tavoitemäärä 
      = idea.target_count
      kpl

    .stat-divider
    .stat-header Kerätty tähän mennessä
    .stat
      Avoimessa ministeriössä
      - signatures_count = idea.signatures.where(state: "signed").count
      %b= signatures_count
      kpl
    .stat
      Kerätty muualla n.
      %b= idea.additional_signatures_count
      kpl 
    .stat
      Kerätty yhteensä siis n.
      - total_signatures = signatures_count + idea.additional_signatures_count
      %b= total_signatures
      kpl (arvio)
    .stat
      Tavoitteesta kerätty n.
      - collected_of_target = total_signatures.to_f / idea.target_count * 100.0
      - decimals = [0,(-(Math.log([0.00001,collected_of_target].max)/Math.log(5))+3.3).floor].max
      %b= sprintf("%.#{decimals}f%%", collected_of_target)
    .stat
      Arvio lukumäärästä päivitetty
      = finnishDate(idea.additional_signatures_count_date)
    - additional_urls = (idea.additional_collecting_service_urls || "").split(/!!!/)
    - if additional_urls != []
      .stat
        Kerääminen muualla:
        - additional_urls.each do |add_url|
          = link_to add_url, add_url
    .stat
      (Muualla kerättyjen määrät ovat arvioita ja noin kerran viikossa päivitettävä tieto.)

    .stat-divider
    - signatures_per_day = (total_signatures.to_f) / dates_collected
    - total_days_to_reach_target = (idea.target_count)                    / signatures_per_day
    - still_days_to_reach_target = (idea.target_count - total_signatures) / signatures_per_day
    - if on_going
      .stat
        Kerätty keskimäärin
        = sprintf("%.1f", signatures_per_day)
        kpl / päivä
      - if signatures_per_day > 0.0 and total_signatures < idea.target_count
        .stat
          Tällä tahdilla kerääminen kestänee kaikkiaan
          = sprintf("%.1f", total_days_to_reach_target)
          päivää
        .stat
          Eli vielä
          = sprintf("%.1f", still_days_to_reach_target)
          päivää
        .stat
          Tavoite täyttyisi arviolta
          %b= finnishDate(today_date + still_days_to_reach_target)
        .stat
          Tällä tahdilla 
          %b= ((today_date + still_days_to_reach_target) <= idea.collecting_end_date) ? "ehditään kerätä ilmoitukset" : "ei ehditä kerätä ilmoituksia riittävästi"
          ennen päättymispäivää
      - if total_signatures >= idea.target_count
        .stat
          %b Tavoite on täyttynyt
    - if ended
      .stat
        Kannatusilmoitusten keräys on päättynyt
      .stat
        Ilmoituksia kerättiin keskimäärin
        = sprintf("%.1f", signatures_per_day)
        kpl / päivä
      .stat
        Sillä tahdilla kerääminen olisi arvioidusti kestänyt
        = total_days_to_reach_target
        päivää
