.ideas_header.container_24
  %h1.grid_24 Ideat
.ideas.container_24
  - @ideas.each do |idea|
    .idea.container_24
      .info.grid_10
        %span.type
          Idea/
        %span.date
          = finnishDate(idea.updated_at)
        - if idea.title.size > 0
          %h2= link_to idea.title, idea
        - else
          %h2.notitle= link_to "Ei otsikkoa", idea
      .content.grid_12
        = link_to shortened_summary(idea.summary, 230, 200, "»"), idea
= will_paginate @ideas
