- content_for :head do
  %title= t('.title')
.grid_24.search-results
  %h1
    = t('.results')
    %i= params['searchterm']
.grid_24.search
  .search
    = t('.search')
    = form_tag ideas_search_path, :method => "get"
    = text_field_tag 'searchterm', params['searchterm']
    = t('.search_example')
  - unless @ideas.empty?
    %h2= t('.idea')
    - @ideas.each_with_index do |idea,i|
      .search-result{:id => "idea_#{i+1}"}
        %a{:href => idea_path(idea)}
          != shorten_and_highlight(idea.title, params['searchterm'], 100, "«", "»")
  - unless @comments.empty?
    %h2= t('.comments')
    - @comments.each_with_index do |comment,i|
      .search-result{:id => "comment_#{i+1}"}
        - case comment.commentable_type
        - when "Idea"
          %a{:href => idea_path(comment.commentable_id, :anchor => "comment_#{comment.id}")}
            != shorten_and_highlight(comment.body, params['searchterm'], 100, "«", "»")
        - else
          = t('.unknown_comment')
          =comment.commentable_type
  -unless @articles.empty?
    %h2= t('.articles')
    - @articles.each_with_index do |article,i|
      .search-result{:id => "article_#{i+1}"}
        %a{:href => article_path(article)}
          != shorten_and_highlight(article.title, params['searchterm'], 100, "«", "»")
  -unless @citizens.empty?
    %h2= t('.citizens')
    - @citizens.each_with_index do |citizen,i|
      .search-result-citizen{:id => "citizen_#{i+1}"}
        %h3!= shorten_and_highlight(citizen.name, params['searchterm'], 100, "«", "»")
        - unless citizen.ideas.empty?
          %h4= t('.idea')
          - citizen.ideas.each do |idea|
            %a{:href => idea_path(idea)}
              != shorten_and_highlight(idea.title, params['searchterm'], 100, "«", "»")
        - unless citizen.comments.empty?
          %h4= t('.comments')
          - citizen.comments.each do |comment|
            - case comment.commentable_type
            - when "Idea"
              %a{:href => idea_path(comment.commentable_id, :anchor => "comment_#{comment.id}")}
                != shorten_and_highlight(comment.body, params['searchterm'], 100, "«", "»")

.result-count
  - if @result_count == 1
    = t('.one_result')
  - else
    = @result_count
    = t('.results')
  = will_paginate @results