%h1= @idea.title
= markdown(@idea.body) if @idea.body

- if @idea.author == current_citizen
  = link_to I18n.t("ideas.links.edit_idea"), edit_idea_path(@idea)

.comments
  - if @idea.comments.any?
    - @idea.comments.each do |comment|
      = comment.author.name
      = markdown(comment.body)
      = comment.created_at

= render "comments/form", model: @idea
