:javascript
  $(document).ready(function(){
      var r = Raphael("votepie"),
          pie = r.piechart(320, 240, 100, [55, 20, 13, 32, 5, 1, 2, 10], { legend: ["%%.%% - Enterprise Users", "IE Users"], legendpos: "west", href: ["http://raphaeljs.com", "http://g.raphaeljs.com"]});

      r.text(320, 100, "Interactive Pie Chart").attr({ font: "20px sans-serif" });
      pie.hover(function () {
          this.sector.stop();
          this.sector.scale(1.1, 1.1, this.cx, this.cy);

          if (this.label) {
              this.label[0].stop();
              this.label[0].attr({ r: 7.5 });
              this.label[1].attr({ "font-weight": 800 });
          }
      }, function () {
          this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

          if (this.label) {
              this.label[0].animate({ r: 5 }, 500, "bounce");
              this.label[1].attr({ "font-weight": 400 });
          }
      });
  });
.grid_24
  .state
    %ul.horizontal
      %li.active IDEA
      %li LAKILUONNOS
      %li LAKIESITYS
      %li LAKI
  .idea_author
    %img{ src: "", width: 48, height: 48 }
    %span= @idea.author.name
.idea.grid_24
  .grid_16.alpha
    %h1= @idea.title
    .idea_summary
      = markdown(@idea.summary) if @idea.summary
    .idea_body
      = markdown(@idea.body) if @idea.body
    %div{id: "votepie" }

    - if @idea.author == current_citizen
      = link_to I18n.t("ideas.links.edit_idea"), edit_idea_path(@idea)
  .grid_7.prefix_1.omega
    .voting.sans_serif
      %h3 Tehdäänkö tästä laki?
      = link_to "Kyllä", "/vote/vote_for/#{@idea.id}", class: "btn jaa-btn"
      = link_to "Ei", "/vote/vote_against/#{@idea.id}", class: "btn ei-btn"
    .votes
      %span=@idea_vote_count
      %span ääntä
      %img{ src: "", width: 100, height: 200 }
.expert_opinions
  %h2.grid_24 Asiantuntijalausunnot
  .grid_8
    .expert
      .grid_2.alpha
        %img{ src: "", width: 50, height: 50 }
      .grid_6.omega
        %span.sans_serif.name= @idea.author.name
        %span.sans_serif [ timestamp ]
        %span.sans_serif.title Rattijuopumusrikosten ehkäisyssä &raquo;
  .grid_8
    .expert
      .grid_2.alpha
        %img{ src: "", width: 50, height: 50 }
      .grid_6.omega
        %span.sans_serif.name= @idea.author.name
        %span.sans_serif [ timestamp ]
        %span.sans_serif.title Rattijuopumusrikosten ehkäisyssä &raquo;
  .grid_8
    .expert
      .grid_2.alpha
        %img{ src: "", width: 50, height: 50 }
      .grid_6.omega
        %span.sans_serif.name= @idea.author.name
        %span.sans_serif [ timestamp ]
        %span.sans_serif.title Rattijuopumusrikosten ehkäisyssä &raquo;
  .clear
.idea_comments
  %h2.grid_24 Kommentit
  .grid_24.comment_form
    = render "comments/form", model: @idea
  .grid_16
    .comments
      - @idea.comments && @idea.comments.each do |comment|
        - unless comment.new_record?
          = render "comments/comment", comment: comment
