- content_for :facebook_metadata_for_idea do
  = render partial: 'facebook_meta_tags'
:javascript
  $(document).ready(function(){
      var r = Raphael("votepie");
      var pie = r.piechart(135, 92, 57, [
          // piechart requires non-zero sizes to draw properly, so let's guard these values
          #{@idea_vote_for_count      == 0 ? 0.00001 : @idea_vote_for_count},
          #{@idea_vote_against_count  == 0 ? 0.00001 : @idea_vote_against_count}
        ],
        {
          legend: [
              "#{@idea_vote_for_count} Kyllä #{@idea_vote_for_count == 1 ? "ääni" : "ääntä"} %%.%",
              "#{@idea_vote_against_count} Ei #{@idea_vote_against_count == 1 ? "ääni" : "ääntä"} %%.%"
            ],
          legendpos: "south", 
          colors: #{@colors.inspect},
          // Clicking portions could link somewhere
          // href: ["http://somewhere.com", "http://somewhere.com"]
        });

      r.text(130, 17, "#{@idea_vote_count} äänen jakautuminen").attr({ font: "17px sans-serif" });
      pie.hover(function () {
          this.sector.stop();
          this.sector.scale(1.1, 1.1, this.cx, this.cy);

          if (this.label) {
              this.label[0].stop();
              this.label[0].attr({ r: 7.5 });
              this.label[1].attr({ "font-weight": 800 });
          }
      }, function () {
          this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

          if (this.label) {
              this.label[0].animate({ r: 5 }, 500, "bounce");
              this.label[1].attr({ "font-weight": 400 });
          }
      });
  });
.grid_24
  = idea_state_image(@idea)
.idea.grid_24
  .author
    %img.avatar{ src: @idea.author.image, width: 48, height: 48 }
    %span.name= @idea.author.name
  .grid_16.alpha
    %h1= @idea.title
    .summary
      = markdown(@idea.summary) if @idea.summary
    .body
      = markdown(@idea.body) if @idea.body

    - if @idea.author == current_citizen
      = link_to I18n.t("idea.links.edit_idea"), edit_idea_path(@idea)

  .grid_7.prefix_1.omega
    .share
      %div{:class => "addthis_toolbox addthis_default_style"}
        %a{:class => "addthis_button_preferred_1"}
        %a{:class => "addthis_button_preferred_2"}
        %a{:class => "addthis_button_preferred_3"}
        %a{:class => "addthis_button_preferred_4"}
        %a{:class => "addthis_button_compact"}
        %a{:class => "addthis_counter addthis_bubble_style"}

  %aside.grid_7.prefix_1.omega
    .voting
      - if @idea.voted_by?(current_citizen)
        %h3
          Äänestit #{vote_in_words(@idea, current_citizen)},
          %br
          voit vaihtaa:
      - else
        %h3 Tehdäänkö tästä laki?
      = link_to "Kyllä", vote_idea_path(@idea.id, vote: 1), class: "btn jaa-btn"
      = link_to "Ei", vote_idea_path(@idea.id, vote: 0), class: "btn ei-btn"
    .votes
      #votepie

.expert_opinions
  %h2.grid_24 Asiantuntijalausunnot
  - if @idea.articles.any?
    = render partial: 'article', collection: @idea.articles
    .clear
    .grid_17 &nbsp;
    .grid_7
      %a.grid_4{ href: "/artikkelit/asiantuntijoille-ja-tutkijoille" } Oletko asiantuntija
      .clear
      =link_to "Ehdota asiantuntijaa", new_idea_expert_suggestion_path(@idea.id), class: "grid_4"
    .clear
  - else
    .grid_17
      Ei vielä lausuntoja
    .grid_7
      %a.grid_4{ href: "/artikkelit/asiantuntijoille-ja-tutkijoille" } Oletko asiantuntija
      .clear
      =link_to "Ehdota asiantuntijaa", new_idea_expert_suggestion_path(@idea.id), class: "grid_4"
    .clear

.idea_comments#comments
  %h2.grid_24 Kommentit
  .grid_24.comment_form
    = render "comments/form", model: @idea
  .comments.suffix_8
    = render partial: 'comments/comment', collection: @idea.comments
