.row
  .span12
    .state
      EHDOTUS ON PÄÄSSYT JATKOJALOSTUKSEEN

    .idea_author
      %img{ src: "", width: 48, height: 48 }
      %span= @idea.author.name
.row
  .span8
    %h1= @idea.title
    = markdown(@idea.body) if @idea.body

    - if @idea.author == current_citizen
      = link_to I18n.t("ideas.links.edit_idea"), edit_idea_path(@idea)
  .span4
    %h3 Tehdäänkö tästä laki?
    = link_to "Jaa", "#", class: "btn"
    = link_to "Ei", "#", class: "btn"
    %span 88888
    %span ääntä
    %img{ src: "", width: 100, height: 200 }
.row
  %h2.span12 Asiantuntijalausunnot
  .span4
    .idea_author
      %img{ src: "", width: 48, height: 48 }
      %span= @idea.author.name
  .span4
    .idea_author
      %img{ src: "", width: 48, height: 48 }
      %span= @idea.author.name
  .span4
    .idea_author
      %img{ src: "", width: 48, height: 48 }
      %span= @idea.author.name
.row
  %h2.span12 Kommentit
  .span12
    = render "comments/form", model: @idea
.row
  .span8
    .comments
      - if @idea.comments.any?
        - @idea.comments.each do |comment|
          - unless comment.new_record?
            = comment.author.name
            = markdown(comment.body)
            = comment.created_at
