:javascript
  $(document).ready(function(){
      var r = Raphael("votepie");
      var pie = r.piechart(135, 92, 57, [
        // piechart requires non-zero sizes to draw properly, so let's guard these values
        #{@idea_vote_for_count      == 0 ? 0.00001 : @idea_vote_for_count}, 
        #{@idea_vote_against_count  == 0 ? 0.00001 : @idea_vote_against_count}], 
        { legend: ["%%.% eli #{@idea_vote_for_count} Kyllä ääni", 
                   " %%.% eli #{@idea_vote_against_count} Ei ääni"], 
          legendpos: "south", 
          colors: #{@colors.inspect},
          // Clicking portions could link somewhere
          // href: ["http://somewhere.com", "http://somewhere.com"]
        });

      r.text(130, 17, "#{@idea_vote_count} äänen jakautuminen").attr({ font: "17px sans-serif" });
      pie.hover(function () {
          this.sector.stop();
          this.sector.scale(1.1, 1.1, this.cx, this.cy);

          if (this.label) {
              this.label[0].stop();
              this.label[0].attr({ r: 7.5 });
              this.label[1].attr({ "font-weight": 800 });
          }
      }, function () {
          this.sector.animate({ transform: 's1 1 ' + this.cx + ' ' + this.cy }, 500, "bounce");

          if (this.label) {
              this.label[0].animate({ r: 5 }, 500, "bounce");
              this.label[1].attr({ "font-weight": 400 });
          }
      });
  });
.grid_24
  = idea_state_image(@idea)
  .idea_author
    %img{ src: @idea.author.image, width: 48, height: 48 }
    %span= @idea.author.name
.idea.grid_24
  .grid_16.alpha
    %h1= @idea.title
    .idea_summary
      = markdown(@idea.summary) if @idea.summary
    .idea_body
      = markdown(@idea.body) if @idea.body

    - if @idea.author == current_citizen
      = link_to I18n.t("ideas.links.edit_idea"), edit_idea_path(@idea)
  .grid_7.prefix_1.omega
    .voting.sans_serif
      - if @idea.voted_by?(current_citizen)
        %h3
          Äänestit #{vote_in_words(@idea, current_citizen)},
          %br
          voit vaihtaa:
      - else
        %h3 Tehdäänkö tästä laki?
      = link_to "Kyllä", vote_idea_path(@idea.id, vote: 1), class: "btn jaa-btn"
      = link_to "Ei", vote_idea_path(@idea.id, vote: 0), class: "btn ei-btn"
    .votes
      #votepie
.expert_opinions
  %h2.grid_24 Asiantuntijalausunnot
  - if @idea.articles.any?
    - @idea.articles.each do |article|
      = link_to article do
        .grid_8
          .expert
            .grid_2.alpha
              %img{ src: "", width: 50, height: 50 }
            .grid_6.omega
              %span.sans_serif.name= article.citizen.name
              %span.sans_serif= finnishTime(article.created_at)
              %span.sans_serif.title= shorten((article.title + "<br/>" + article.ingress), 100, 20, ">>").html_safe
  .clear
.idea_comments
  %h2.grid_24 Kommentit
  .grid_24.comment_form
    = render "comments/form", model: @idea
  .grid_16
    .comments
      - @idea.comments && @idea.comments.each do |comment|
        - unless comment.new_record?
          = render "comments/comment", comment: comment
