<h2>Rekisteröidy</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "grid_16"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.simple_fields_for :profile do |f| %>
      <%= f.input :first_name, required: false %>
      <%= f.input :last_name, required: false %>
    <% end %>
  </div>

  <p>
    Hyväksyn palvelun <a href="/todo">käyttöehdot</a>.
  </p>
  <div class="actions">
    <%= f.button :submit, "Rekisteröidy" %>
  </div>
<% end %>
<p class="notification grid_8">
  Reksiteröidy tästä Avoimen ministeirön nettipalvelun käyttäjäksi. Voit luoda uuden tunnuksen vahvistamalla sen sähköpostitse tai vahvistamalla sen Facebook-tunnuksillasi. Palvelussa keskustellaan omalla nimellä ja asiallisesti. Palvelua ja sen toiminnallisuuksia kehitetään käyttäjäpalautteen perusteella. Voit lähettää risuja ja ruusuja osoitteeseen <a href="mailto:kanslia@avoinministerio.fi">kanslia@avoinministerio.fi</a>. Tervetuloa!
</p>