.comment
  .avatar
    %img{ src: comment.author.image, width: 50, height: 50 }
  .comment-id{:id => "comment_#{comment.id}"}
    .info
      %span.index
      %span.name= comment.author.name
      %span.separator= "|"
      %span.datetime= finnishTime(comment.created_at)
    .body= markdown(comment.body)
