= simple_form_for Comment.new(commentable: model), url: [model, :comments], remote: true do |f|
  .grid_16.alpha
    - if citizen_signed_in?
      = f.input :body, as: :text, label: false
    - else
      = f.input :body, as: :text, label: false, disabled: true, input_html: { :class => 'disabled', value: t('.login_to_write')}
  .grid_8.omega
    - if citizen_signed_in?
      = f.submit t('.add_comment'), disable_with: t('.sending')
    - else
      = f.submit t('.add_comment'), disabled: true, input_html: { :class => 'disabled' }
