= simple_form_for Comment.new(commentable: model), url: [model, :comments], remote: true do |f|
  .text-field
    - if citizen_signed_in?
      = f.input :body, as: :text, label: false
    - else
      = f.input :body, as: :text, label: false, disabled: true, input_html: { :class => 'disabled', value: "Voit kirjoittaa kommentteja kirjautumalla sisään"}
  .actions
    - if citizen_signed_in?
      = f.submit "Lisää kommentti", disable_with: "Lähetetään ...", :class => 'btn btn-small btn-primary'
    - else
      = f.submit "Lisää kommentti", disabled: true, :class => 'btn btn-small btn-primary disabled'
