= simple_form_for @article, url: [:admin, @article] do |f|
  = f.input :article_type, :collection => %w(blog footer statement)
  = f.input :title
  = f.input :ingress, as: :text
  = f.input :body, as: :text
  = f.association :author
  = f.association :idea
  = f.submit