.row-fluid
  .span12
    %h3
      ARTIKKELI
      = link_to ":: #{@article.idea.title}", [:admin, @article.idea]

    .btn-group
      - if !@article.published?
        = link_to "Julkaise", [:publish, :admin, @article.idea, @article], class: "btn btn-success"
        - if !@article.in_moderation?
          = link_to "Moderoi", [:moderate, :admin, @article.idea, @article], class: "btn btn-inverse"
      - if @article.published?
        = link_to "Piilota", [:unpublish, :admin, @article.idea, @article], class: "btn btn-danger"
        = link_to "Moderoi", [:moderate, :admin, @article.idea, @article], class: "btn btn-inverse"
    
    .author.row-fluid
      .span1
        = image_tag(@article.author.try(:image))
      .span3
        = @article.author.try(:name)
    
    .ingress
      = markdown(@article.ingress)
      
    .body
      = markdown(@article.body)