.author
  - if @article.author
    %img.avatar{ src: @article.author.image, width: 48, height: 48 }
    %span.name= @article.author.name
  - else
    %span.name= No author
  %span.date= finnishTime(@article.created_at)

.idea-content
  %h1= @article.title
  .summary
    = markdown(@article.ingress) if @article.ingress
  .body
    = markdown(@article.body) if @article.body

  - if @article.author == current_citizen
    - if @article.idea.present?
      = link_to I18n.t("article.links.edit_article"), edit_admin_idea_article_path(@article.idea, @article)
    - else
      = link_to I18n.t("article.links.edit_article"), edit_admin_article_path(@article)
