.grid_24
  .idea_author
    %img{ src: "", width: 48, height: 48 }
    - if @article.author
      %span= @article.author.name
    - else
      %span= No author
.idea.grid_24
  .grid_16.alpha
    %span.sans_serif= finnishTime(@article.created_at)

    %h1= @article.title
    .idea_summary
      = markdown(@article.ingress) if @article.ingress
    .idea_body
      = markdown(@article.body) if @article.body

    - if @article.author == current_citizen
      = link_to I18n.t("articles.links.edit_article"), edit_article_path(@article)
