#trash
  %h1 Trash
  %table.messaging
    %tr.title
      %th.title Date
      %th.title Subject
      %th.title Participants
    - @trash.each do |message|
      %tr{:onclick => "window.location.href = '#{url_for(message)}';", :onmouseover => "this.style.cursor='pointer'"}
        %td.cell #{finnishDate(message.updated_at)}
        %td.cell #{message.subject} 
        %td.cell #{get_participants(message)}
        %td.cell= link_to image_tag("undo.png", :border => 0), untrash_conversation_path(message)
  - if @trash.count > 5
    = will_paginate @trash
  - elsif @trash.count == 5
    = link_to "Show all »»", conversations_trash_path, :class => "show_all_link"