.row-fluid
  .span12
    %h1 Ideat
    %ul.ideas
      = list_of @ideas do |idea|
        = link_to idea.title, [:admin, idea]
        = idea.author.profile.first_name
        = idea.author.profile.last_name
%div
  .container_20
    = will_paginate @ideas
