.span12
  %h3 IDEA
  %h1= @idea.title

  .btn-group
    - if !@idea.published?
      = link_to "Julkaise", [:publish, :admin, @idea], class: "btn btn-success"
      - if !@idea.in_moderation?
        = link_to "Aseta moderoitavaksi", [:moderate, :admin, @idea], class: "btn btn-inverse"
    - if @idea.published?
      = link_to "Piilota", [:unpublish, :admin, @idea], class: "btn btn-danger"
      = link_to "Aseta moderoitavaksi", [:moderate, :admin, @idea], class: "btn btn-inverse"
  
  %ul.stats
    %li
      Äänet: 
      = @idea.votes.count
    %li
      Puolesta:
      = @idea.votes.in_favor.count
    %li
      Vastaan:
      = @idea.votes.against.count
    %li
      Kommentit
      = @idea.comments.count
  
  .summary
    = @idea.summary
  
  .body
    = @idea.body