%ul.login-actions
  - if citizen_signed_in?
    %li.actions-item
      = link_to "Profiili", profile_path
      |
      = link_to "Asetukset", edit_profile_path
      |
      = link_to "Kirjaudu ulos", destroy_citizen_session_path, method: :delete
    %li.actions-item
      %img.avatar{ src: current_citizen.image, width: 25, height: 25, alt: "avatar" }
      #{current_citizen.name}
  - else
    %li.actions-item
      = link_to "Rekisteröidy", new_citizen_registration_path
    %li.actions-item
      = link_to "Kirjaudu", new_citizen_session_path
  %li.actions-item.btn-facebook
    %span.btn-facebook-inner
      - if !citizen_signed_in?
        = link_to "Kirjaudu Facebookilla", citizen_omniauth_authorize_path(:facebook)
