.login_actions.top_row
  - if citizen_signed_in?
    .grid_12
      = link_to_unless_current image_tag("greatbritain.png", :border => 0), locale: "en"
      = link_to_unless_current image_tag("finland.png", :border => 0), locale: "fi"
      |
      %img.avatar{ src: current_citizen.image, width: 25, height: 25, alt: "avatar" }
      #{current_citizen.name}
      |
      = link_to t('.profile'), profile_path
      |
      = link_to t('.settings'), edit_profile_path
      |
      = link_to t('.logout'), destroy_citizen_session_path, method: :delete
  - else
    .grid_12
      = link_to_unless_current image_tag("greatbritain.png", :border => 0), locale: "en"
      = link_to_unless_current image_tag("finland.png", :border => 0), locale: "fi"
      |
      = link_to t('.login_facebook'), citizen_omniauth_authorize_path(:facebook)
      |
      = link_to t('.registration'), new_citizen_registration_path
      |
      = link_to t('.login'), new_citizen_session_path