.login_actions.top_row
  - if citizen_signed_in?
    .grid_12#signed_in_links
      = link_to "Profiili", profile_path
      |
      = link_to "Asetukset", edit_profile_path
      |
      = link_to "Palauta salasana", edit_citizen_path
      |
      = link_to "Kirjaudu ulos", destroy_citizen_session_path, method: :delete
      |
      - if current_citizen.count_unread_messages == "0"
        = link_to image_tag("no_message.png", :border => 0), conversations_path
      - else
        #notification_container
          = link_to image_tag("new_message.png", :border => 0), conversations_path
          .notification_bubble
            =current_citizen.count_unread_messages
    .grid_4
      %img.avatar{ src: current_citizen.image, width: 25, height: 25, alt: "avatar" }
      #{current_citizen.name}
  - else
    .grid_3
      = link_to "Rekisteröidy", new_citizen_registration_path, id: 'register'
    .grid_3
      = link_to "Kirjaudu", new_citizen_session_path, id: 'login'
  .grid_6
    - if !citizen_signed_in?
      = link_to "Kirjaudu Facebookilla", citizen_omniauth_authorize_path(:facebook), id: 'login-fb'
