.container_24.top_drafts
  - filter = 'drafts'
  %h2=link_to "#{title} (#{items.count})", ideas_path(:filter => filter), :class => 'idea-heading-link'
  .drafts_carousel
    %ul#drafts_list
      - items.each do |item|
        %li 
          .popular
            %h3.title=link_to shorten(item.title, 100, 20, "»"), idea_path(item)
            %div{id: "draft_bar#{item.id}", class: "bar"}
            - for_portion, for_, against_portion, against_ = item.stats
            - for_length = [35, (260-5-35)*for_portion].max
            :javascript
              var r = Raphael("draft_bar#{item.id}", 260, 20);
              r.rect(  0, 0, #{for_length}, 20).attr({fill: "#8cc63f", stroke: "#fff", strokewidth: 5});
              r.rect(#{for_length+5}, 0, #{260-5-for_length}, 20).attr({fill: "#a9003f", stroke: "#fff", strokewidth: 5});
              r.text( 18,11, "#{for_}").attr({fill: "#fff", "font-size": 12});
              r.text(241,11, "#{against_}").attr({fill: "#fff", "font-size": 12});  
    .clearfix
    %a#drafts_list_prev.prev{:href => "#"}
      %span prev
    %a#drafts_list_next.next{:href => "#"}
      %span next
  #drafts_list_pag.pagination