.container_24.top_drafts
  %h2= title
  - if item_counter == 0
    - if items.size > 6
      - if (items.size % 2) == 0
        - loop_count = items.size / 2 -1
      - if (items.size % 2) != 0
        - loop_count = items.size / 2
      - index = 0
      #container
        %div{id: "rs-carousel", class: "rs-carousel module"}
          %ul{class: "rs-carousel-runner"}
            - for i in 0..loop_count
              %li{class: "rs-carousel-item "}
                - if index < items.size    
                  %div{class:"grid_8 alpha"}
                    - if recent_draft = items[index]
                      .popular
                        %h3.title=link_to shorten(recent_draft.title, 100, 20, "»"), idea_path(recent_draft), id: "ab_section_#{section}_#{index}_link"
                        %div Start Collecting Date: #{recent_draft.collecting_start_date}
                        %div END Collecting Date: #{recent_draft.collecting_end_date}

                      %div{id: "draft_bar#{index+item_counter}", class: "draft_bar"}
                        - for_portion, for_, against_portion, against_ = items_counts[recent_draft.id]
                        - for_length = [35, (280-5-35)*for_portion].max
                        = for_
                        :javascript
                          $("#draft_bar#{index+item_counter}").animate( { width: "#{for_length}px" }, 1000);
                  - index = index + 1
                - if index < items.size
                  %div{class:"grid_8 alpha"}
                    - if recent_draft = items[index]
                      .popular
                        %h3.title=link_to shorten(recent_draft.title, 100, 20, "»"), idea_path(recent_draft), id: "ab_section_#{section}_#{index}_link"
                        %div Start Collecting Date: #{recent_draft.collecting_start_date}
                        %div END Collecting Date: #{recent_draft.collecting_end_date}

                      %div{id: "draft_bar#{index+item_counter}", class: "draft_bar"}
                        - for_portion, for_, against_portion, against_ = items_counts[recent_draft.id]
                        - for_length = [35, (280-5-35)*for_portion].max
                        = for_
                        :javascript
                          $("#draft_bar#{index+item_counter}").animate( { width: "#{for_length}px" }, 1000);
                  - index = index + 1
    - else items.size <= 6
      - [["grid_8", "alpha"], ["grid_8"], ["grid_8", "omega"],["grid_8", "alpha"], ["grid_8"], ["grid_8", "omega"]][0, [6, items.size].min].each_with_index do |klasses, i|
        %div{:class => klasses}
          - if recent_draft = items[i]
            .popular
              %h3.title=link_to shorten(recent_draft.title, 100, 20, "»"), idea_path(recent_draft), id: "ab_section_#{section}_#{i}_link"
              %div Start Collecting Date: #{recent_draft.collecting_start_date}
              %div END Collecting Date: #{recent_draft.collecting_end_date}

            %div{id: "draft_bar#{i+item_counter}", class: "draft_bar"}
              - for_portion, for_, against_portion, against_ = items_counts[recent_draft.id]
              - for_length = [35, (280-5-35)*for_portion].max
              = for_
              :javascript
                $("#draft_bar#{i+item_counter}").animate( { width: "#{for_length}px" }, 1000);
  - else item_counter > 0
    - [["grid_8", "alpha"], ["grid_8"], ["grid_8", "omega"],["grid_8", "alpha"], ["grid_8"], ["grid_8", "omega"]][0, [6, items.size].min].each_with_index do |klasses, i|
      %div{:class => klasses}
        - if recent_draft = items[i]
          .popular
            %h3.title=link_to shorten(recent_draft.title, 100, 20, "»"), idea_path(recent_draft), id: "ab_section_#{section}_#{i}_link"
            %div Start Collecting Date: #{recent_draft.collecting_start_date}
            %div END Collecting XDate: #{recent_draft.collecting_end_date}
  
          %div{id: "draft_bar#{i+item_counter}", class: "draft_bar"}
            - for_portion, for_, against_portion, against_ = items_counts[recent_draft.id]
            - for_length = [35, (280-5-35)*for_portion].max
            = for_
            :javascript
              $("#draft_bar#{i+item_counter}").animate( { width: "#{for_length}px" }, 1000);


           