.container_24.headline
  %hgroup.grid_18
    %h1= @headline_1[rand(@headline_1.size)]
    %h2= @headline_2[rand(@headline_2.size)]
  .actions.grid_6
    = link_to t('.ideas'), ideas_path, class: "button"
    - if I18n.locale == :fi
      = image_tag "ficora.png", class: "stamp-show"
    = link_to t('.FAQ'), "/artikkelit/20-usein-kysyttyja-kysymyksia", class: "button"
