.grid_16.top_ideas.alpha
  %h2= t('.title')
  - @ideas.each_with_index do |idea, i|
    .idea
      .grid_16.info
        %span.type
          = t('.idea')
        %span.date
          = finnishDate(idea.updated_content_at || idea.created_at)
        %h3=link_to shorten(idea.title + ": " + idea.summary, 200, 20, "»"), idea_path(idea), id: "ab_ideas_#{i}"
      .grid_16.statistics
        - for_, against, comments, total = @idea_counts[idea.id]
        %span.total #{total} #{t(".votes")}:&nbsp;
        %span.for #{for_}
        |
        %span.against #{against}
        %span.front-page-comment-count= link_to "#{comments}", idea_path(idea, anchor: "comments")

<<<<<<< HEAD
  =link_to "Listaa kaikki (#{@idea_count}) »", ideas_path, class: "list_ideas"
=======
  =link_to t('.ideas'), ideas_path, class: "list_ideas"
>>>>>>> internationalisation
