.grid_16.top_ideas.alpha
  %h2 Esimerkkejä ideoista
  - i = 0
  - @ideas.each_slice(2) do |idea, idea2|
    .grid_7.alpha
      .idea
        .info.statistics
          .infotext
            %h3=link_to shorten(idea.title, 100, 20, "»"), idea_path(idea), id: "ab_ideas_#{i+=1}"
            %p=link_to shorten(idea.summary, 100, 20, "»"), idea_path(idea), id: "ab_ideas_#{i}"
          - for_, against, comments, total = @idea_counts[idea.id]
          %span.total #{total} ääntä:&nbsp;
          %span.for #{for_}
          |
          %span.against #{against}
          %span.front-page-comment-count= link_to "#{comments}", idea_path(idea, anchor: "comments")

    .grid_1
      &nbsp;
    .grid_7.omega
      .idea
        .info.statistics
          .infotext
            %h3=link_to shorten(idea2.title, 100, 20, "»"), idea_path(idea2), id: "ab_ideas_#{i+=1}"
            %p=link_to shorten(idea2.summary, 100, 20, "»"), idea_path(idea2), id: "ab_ideas_#{i}"
          - for_, against, comments, total = @idea_counts[idea2.id]
          %span.total #{total} ääntä:&nbsp;
          %span.for #{for_}
          |
          %span.against #{against}
          %span.front-page-comment-count= link_to "#{comments}", idea_path(idea2, anchor: "comments")
    .grid_1
      &nbsp;
    .clear

  =link_to "Listaa kaikki (#{@idea_count}) »", ideas_path, class: "list_ideas"
