= render partial: 'headline'
.container_24.top_drafts
  %h2 Toimenpide- ja Lakiehdotukset
  .carousel
    %ul#proposals_carousel
      - @proposals.each_with_index do |proposal, proposal_index|
        = render partial: 'proposals_column', locals: {proposal: proposal, proposal_counts: @proposals_counts[proposal.id], item_counter: 0, proposal_index: proposal_index, section: "proposal" }
    <a class="prev" id="proposals_carousel_prev" href="#"><span>prev</span></a>
    <a class="next" id="proposals_carousel_next" href="#"><span>next</span></a>
= render partial: 'drafts', locals: {title: "Luonnokset", items: @drafts, items_counts: @draft_counts, item_counter: @proposals.length,  row_index: 0, section: "draft" }
- if @newest_ideas
  = render partial: 'ideas'
- else
  = render partial: 'random_ideas'

= render partial: 'news'
= render partial: 'newsletter'
