= render partial: 'headline'

= render partial: 'drafts', 
  locals: {title: "Toimenpide- ja Lakiehdotukset", items: @proposals, items_counts: @proposals_counts, item_counter: 0, :count => @total_proposals, section: "proposal" } if @proposals.count > 0
= render partial: 'drafts', 
  locals: {title: "Luonnokset", items: @drafts, items_counts: @draft_counts, :count => @total_drafts, item_counter: 3,  section: "draft" } if @drafts.count > 0

- if @newest_ideas
	= render partial: 'ideas'
- else
	= render partial: 'random_ideas'

= render partial: 'news'
= render partial: 'newsletter'
