= render partial: 'headline'

- if session[:ab_section_count] == 1
  = render partial: 'drafts', 
    locals: {title: "Toimenpide- ja Lakiehdotukset sekä Luonnokset", section: "proposal_and_draft",
    items: @proposals_and_drafts, items_counts: @proposal_and_drafts_counts, item_counter: 0 }

- else # session[:ab_section_count] == 2
  - props_a, props_b = [], []
  - @proposals.shuffle.each_with_index {|item, index| index%2 == 0 ? (props_a << item) : (props_b << item)}

  = render partial: 'drafts', 
    locals: {title: "Toimenpide- ja Lakiehdotukset", items: props_a, items_counts: @proposals_counts, item_counter: 0, section: "props_a" }
  = render partial: 'drafts', 
    locals: {title: "", items: props_b, items_counts: @proposals_counts, item_counter: 3, section: "props_b" }

  = render partial: 'drafts', 
    locals: {title: "Luonnokset", items: @drafts, items_counts: @draft_counts, item_counter: 5,  section: "draft" }

- if @newest_ideas
  = render partial: 'ideas'
- else
  = render partial: 'random_ideas'

= render partial: 'news'
= render partial: 'newsletter'
