= render partial: 'headline'

- if session[:ab_section_count] == 1
	.container_24.top_drafts
		%h2= "Toimenpide- ja Lakiehdotukset sekä Luonnokset"
		= render partial: 'drafts', locals: {section: "proposal_and_draft", items: @proposals_and_drafts }
- else # session[:ab_section_count] == 2
	.container_24.top_drafts
		%h2= "Toimenpide- ja Lakiehdotukset"
		- if @proposals.in_groups_of(3).size <= 2
			- @proposals.in_groups_of(3) do |proposals_group|
				= render partial: 'drafts', locals: {items: proposals_group, section: "proposal" }
		- else
			= render partial: 'carousel', locals: {items: @proposals}

.container_24.top_drafts
	%h2= "Luonnokset"
	= render partial: 'drafts',
		locals: {items: @drafts, item_counter: 6,  section: "draft" }

- if @newest_ideas
	= render partial: 'ideas'
- else
	= render partial: 'random_ideas'

= render partial: 'news'
= render partial: 'newsletter'
