= render partial: 'headline'

- if session[:ab_section_count] == 1
	= render partial: 'drafts', 
		locals: {title: "Toimenpide- ja Lakiehdotukset sekä Luonnokset", section: "proposal_and_draft",
				 items: @proposals_and_drafts, items_counts: @proposal_and_drafts_counts, item_counter: 0 }
- else # session[:ab_section_count] == 2
	= render partial: 'drafts', 
		locals: {title: "Toimenpide- ja Lakiehdotukset", items: @proposals, items_counts: @proposals_counts, item_counter: 0, section: "proposal" }
	= render partial: 'drafts', 
		locals: {title: "Luonnokset", items: @drafts, items_counts: @draft_counts, item_counter: 3,  section: "draft" }

- if @newest_ideas
	= render partial: 'ideas'
- else
	= render partial: 'random_ideas'

= render partial: 'news'
= render partial: 'newsletter'

- if !citizen_signed_in? || current_citizen.idea_tour_ended
	:javascript
		$(document).ready(function(){
		var home_tour = new Tour({
			name: "home_tour",
			afterSetState: function(key, value) {
			if (key == "end" && value == "yes") {
				jQuery.post("/citizens/tour", {name: "home_tour"});
			}
		}
		});
		home_tour.addStep({
			element: ".for_tour_reg",
			placement: "bottom",
			title: "Welcome to Avoin Ministeriö",
			content: "Click here you can registier new account."
		});
		home_tour.addStep({
			element: ".for_tour_reg_new",
			placement: "bottom",
			title: "Welcome to Avoin Ministeriö",
			content: "Click here you can registier a new email account."
		});
		home_tour.addStep({
			element: ".for_tour_facebook",
			placement: "bottom",
			title: "Welcome to Avoin Ministeriö",
			content: "You can login with facebook account."
		});
		home_tour.addStep({
			element: ".for_tour_anna_idea",
			placement: "bottom",
			title: "Welcome to Avoin Ministeriö",
			content: "Anna Idea"
		});
		home_tour.addStep({
			element: ".for_tour_listaa",
			placement: "bottom",
			title: "Welcome to Avoin Ministeriö",
			content: "Click here you can find all the ideas"
		});
		home_tour.start();
		});
