<h2><%= t('.title') %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "grid_16"}) do |f| %>
  <%= f.error_notification %>

  <div class="inputs grid_12">
    <%= f.label :email, :required => false %>
    <%= f.input :email, :required => true, :autofocus => true, :label => false %>
    <%= f.label :password, :required => false %>
    <%= f.input :password, :required => true, :label => false %>
    <%= f.label :password_confirmation, :required => false %>
    <%= f.input :password_confirmation, :required => true, :label => false %>
    <%= f.simple_fields_for :profile do |f| %>
      <%= f.label :first_names, :required => false %>
      <%= f.input :first_names, :required => true, :label => false %>
      <%= f.label :first_name, :required => false %>
      <%= f.input :first_name, :required => true, :label => false %>
      <%= f.label :last_name, :required => false %>
      <%= f.input :last_name, :required => true, :label => false %>
    <% end %>
  </div>

  <p class="grid_16">
    <%= t('.agreement') %> <a href="/artikkelit/4"><%= t('.terms_of_service') %></a>.
  </p>
  <div class="actions grid_16">
    <%= f.button :submit, t('.register') %>
  </div>
<% end %>
<div class="notification grid_8">
  <p>
    <%= t('.notification_part_1') %>
  </p>
  <p>
    <%= t('.notification_part_2') %> <a href="mailto:kanslia@avoinministerio.fi">kanslia@avoinministerio.fi</a>.
  </p>
  <p>
    <%= t('.welcome_back') %>
  </p>
</div>
