.row-fluid
  .span12
    %h1 Käyttäjät
    %table.table.table-striped
      %thead
        %tr
          %th 
          %th Nimi
          %th Sähköpostiosoite
          %th
      %tbody
        - @citizens.each do |citizen|
          %tr
            %td
              = image_tag(citizen.image)
            %td
              = citizen.name
            %td
              = citizen.email
            %td
              .btn-group{ style: "float: right"}
                = link_to "Julkaise", [:publish, :admin, comment], class: "btn btn-success" if citizen.locked?
                = link_to "Moderoi", [:moderate, :admin, comment], class: "btn btn-inverse"
                = link_to "Piilota", [:unpublish, :admin, comment], class: "btn btn-danger"
                = link_to "Moderoi", [:moderate, :admin, comment], class: "btn btn-inverse"
