.row-fluid
  .span12
    %h1 Käyttäjät

    = link_to_if(Citizen.export_file_url, "Lataa käyttäjät CSV", Citizen.export_file_url) do
      = link_to("Generoi käyttäjäy CSV", [:export, :admin, :citizens])

    %table.table.table-striped.citizens
      %thead
        %tr
          %th
          %th Nimi
          %th Sähköpostiosoite
          %th
      %tbody
        - @citizens.each do |citizen|
          %tr[citizen]
            %td.citizen_image
              = image_tag(citizen.image, width: 32, height: 32)
            %td
              %h3.name= link_to citizen.name, [:admin, citizen]
            %td
              %h3.email= citizen.email
            %td
              .btn-group{ style: "float: right"}
                = link_to "Lukitse", [:lock, :admin, citizen], class: "btn btn-success" unless citizen.locked?
                = link_to "Vapauta", [:unlock, :admin, citizen], class: "btn btn-inverse" if citizen.locked?
= will_paginate @citizens

