- if signed_in?
  #new_address
    %h1 Lisää osoite
    = simple_form_for(@location) do |f|
      = f.error_notification
      = f.input :name, label: "Keruupisteen nimi (esim. 'Järventauksen kirjasto')"
      = f.input :address, label: "Keruupisteen osoite"
      = f.hidden_field :latitude
      = f.hidden_field :longitude
      = f.button :submit, "Lisää keruuspiste"

#addresses_block
  %h1 Keruupisteiden lista
  %table.locations
    %tr
      %td Keruupisteen nimi 
      %td Osoite
    - @locations.each do |location|
      %tr
        %td #{location.name}
        %td #{location.address}
  = will_paginate @locations