#map{:style => "float: left;"}

// Creating map
= javascript_tag do
  $("#map").height("700px");
  $("#map").width("78%");
  // [64.448, 26.039] is a center of Finland
  var map = L.map('map').setView([64.448, 26.039], 5);
  L.tileLayer('http://{s}.tile.cloudmade.com/#{@cloudmade_api_key}/997/256/{z}/{x}/{y}.png', {
  attribution: 'Karttatiedot &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> auttaneilta, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Kuvat © <a href="http://cloudmade.com">CloudMade</a>',maxZoom: 25 }).addTo(map);
  L.Icon.Default.imagePath = '../assets/';


= javascript_tag do
  // template for icons
  var NewIcon = L.Icon.extend({
  options: {
  iconSize:     [24, 41],
  shadowSize:   [0, 0],
  iconAnchor:   [24, 41],
  shadowAnchor: [0, 0],
  popupAnchor:  [-14, -41]
  }
  });
  // red icon
  var redIcon = new NewIcon({iconUrl: 'assets/marker-icon-red.png'});

#list_of_addresses
  #show_all_locations
    %h2.kartta Kaikki keräyspisteet
    - @locations.each do |location|
      = link_to location.name, 'javascript:void(0)', :onclick => "map.panTo([#{location.latitude},#{location.longitude}]); marker_#{location.id}.openPopup();", :class => "loc"
      %br
      = javascript_tag do
        // Adding markers by coordinates  
        var lat = #{location.latitude};
        var lon = #{location.longitude};
        var marker_#{location.id} = L.marker([lat, lon]).addTo(map);
        marker_#{location.id}.bindPopup("<b>#{location.name}</b><br>#{location.address}");
    %br
    = link_to "Keräyspisteet osoitteineen", osoitteet_path, :class => "addresses_url"


- if params[:search] != nil
  = javascript_tag do
    $("#near_by_ip").hide();