!!! 5
/[if lt IE 9] <html class="ie">
/[if gte IE 9] <html>
%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
  %meta{ :content => "width=device-width, initial-scale=1", :name => "viewport" }/
  %title Avoin Ministeriö
  = stylesheet_link_tag "application.css"
  = javascript_include_tag "application"
  /[if lt IE 9]
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>

%body
  %header.container_24.top_row_container
    .container_24.top_row
  %header.container_24
    = link_to image_tag("logo.png"), root_path, id: "logo", class: "grid_12"
    .grid_3.top_row
      %a{ href: "/register" } Rekisteröidy
    .grid_3.top_row
      %a{ href: "/login" } Kirjaudu
    .grid_6.top_row
      = link_to "Kirjaudu Facebookilla", citizen_omniauth_authorize_path(:facebook)
    .grid_6.bottom_row
    .grid_3.bottom_row
      = link_to "Aloitteet", ideas_path
    .grid_3.bottom_row
      = link_to "Tee aloite", new_idea_path
  .container.container_24
    %section
      = yield
  %footer.container_24
    %a.grid_4{ src: "/foo" } Foo
    %a.grid_4{ src: "/bar" } Bar
    %a.grid_4{ src: "/baz" } Baz
    %a.grid_4{ src: "/foo" } Foo
    %a.grid_4{ src: "/bar" } Bar
    %a.grid_4{ src: "/baz" } Baz
